In [1]:
import KAnonymity
import LDiversity
import pandas as pd

## Load Sample Data

In [2]:
DATA_PATH = 'sample_data.csv'
df = pd.read_csv(DATA_PATH)
df.head()

  Gender  Age Marital_Status Country_Birth                Race  Alcohol Average/Day Ever Used Hard Drugs
0      F   30        Married         Other      Other Hispanic                    3                   No
1      F   30        Married            US  Non-Hispanic White                    3                   No
2      F   30  Never Married         Other  Non-Hispanic Black                    2                   No
3      F   30  Never Married         Other               Other                    4                   No
4      F   30  Never Married            US  Non-Hispanic Black                    2                   No

## K-Anonymity

### Determine the value of k for some set of quasi identifiers

In [3]:
quasi = ['Age','Country_Birth']
k = KAnonymity.get_k_anonymity(df,quasi)

In [8]:
k['k']

8

In [9]:
k['equivalence_classes']

[(30, 'Other')]

### Examine k-values for various sets of quasi-identifiers

In [7]:
KAnonymity.get_k_summary(df,as_df=True)

/Users/rajvardhan/Desktop/privacy-library/KAnonymity.py:30: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.
  df_grouped = df_local.groupby(quasi_identifiers).count()

                                     Quasi_Identifiers   K
0                                            (Gender,)  21
1                                               (Age,)  14
2                                    (Marital_Status,)   2
3                                     (Country_Birth,)  20
4                                              (Race,)   2
5                               (Alcohol Average/Day,)   1
6                              (Ever Used Hard Drugs,)  16
7                                        (Gender, Age)   7
8                             (Gender, Marital_Status)   2
9                              (Gender, Country_Birth)   5
10                                      (Gender, Race)   1
11                       (Gender, Alcohol Average/Day)   1
12                      (Gender, Ever Used Hard Drugs)   2
13                               (Age, Marital_Status)   1
14                                (Age, Country_Birth)   8
15                                         (Age, Race)   1
16                          (Age, Alcohol Average/Day)   1
17                         (Age, Ever Used Hard Drugs)   4
18                     (Marital_Status, Country_Birth)   1
19                              (Marital_Status, Race)   1
20               (Marital_Status, Alcohol Average/Day)   1
21              (Marital_Status, Ever Used Hard Drugs)   2
22                               (Country_Birth, Race)   1
23                (Country_Birth, Alcohol Average/Day)   1
24               (Country_Birth, Ever Used Hard Drugs)   5
25                         (Race, Alcohol Average/Day)   1
26                        (Race, Ever Used Hard Drugs)   1
27         (Alcohol Average/Day, Ever Used Hard Drugs)   1
28                       (Gender, Age, Marital_Status)   1
29                        (Gender, Age, Country_Birth)   2
..                                                 ...  ..
96   (Marital_Status, Race, Alcohol Average/Day, Ev...   1
97   (Country_Birth, Race, Alcohol Average/Day, Eve...   1
98   (Gender, Age, Marital_Status, Country_Birth, R...   1
99   (Gender, Age, Marital_Status, Country_Birth, A...   1
100  (Gender, Age, Marital_Status, Country_Birth, E...   1
101  (Gender, Age, Marital_Status, Race, Alcohol Av...   1
102  (Gender, Age, Marital_Status, Race, Ever Used ...   1
103  (Gender, Age, Marital_Status, Alcohol Average/...   1
104  (Gender, Age, Country_Birth, Race, Alcohol Ave...   1
105  (Gender, Age, Country_Birth, Race, Ever Used H...   1
106  (Gender, Age, Country_Birth, Alcohol Average/D...   1
107  (Gender, Age, Race, Alcohol Average/Day, Ever ...   1
108  (Gender, Marital_Status, Country_Birth, Race, ...   1
109  (Gender, Marital_Status, Country_Birth, Race, ...   1
110  (Gender, Marital_Status, Country_Birth, Alcoho...   1
111  (Gender, Marital_Status, Race, Alcohol Average...   1
112  (Gender, Country_Birth, Race, Alcohol Average/...   1
113  (Age, Marital_Status, Country_Birth, Race, Alc...   1
114  (Age, Marital_Status, Country_Birth, Race, Eve...   1
115  (Age, Marital_Status, Country_Birth, Alcohol A...   1
116  (Age, Marital_Status, Race, Alcohol Average/Da...   1
117  (Age, Country_Birth, Race, Alcohol Average/Day...   1
118  (Marital_Status, Country_Birth, Race, Alcohol ...   1
119  (Gender, Age, Marital_Status, Country_Birth, R...   1
120  (Gender, Age, Marital_Status, Country_Birth, R...   1
121  (Gender, Age, Marital_Status, Country_Birth, A...   1
122  (Gender, Age, Marital_Status, Race, Alcohol Av...   1
123  (Gender, Age, Country_Birth, Race, Alcohol Ave...   1
124  (Gender, Marital_Status, Country_Birth, Race, ...   1
125  (Age, Marital_Status, Country_Birth, Race, Alc...   1

[126 rows x 2 columns]